@use "../../../../../../../libs/src/lib/design-system/foundations" as core;

.navbar {
  width: 100%;
  padding: core.$space-4;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  z-index: 1000;
  background-color: core.$color-system-negative;
  box-shadow: core.$shadow-shadow-strong;

  &.scrolled {
    position: fixed;
    top: 0;
    padding: core.$space-2;
    box-shadow: core.$shadow-shadow-medium;
  }
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.logo {
  height: 50px;
  transition: height 0.3s ease-in-out;

  cursor: pointer;

  .scrolled & {
    height: 40px;
  }
}

.navbar-right {
  display: flex;
  gap: core.$space-4;
}
