<div class="banner-container" [style.backgroundImage]="backgroundImageSignal()">
  <p class="banner-header">{{ homePageSignal()?.header }}</p>
</div>
<section class="lib-container top-category-container">
  <div class="top-category">
    <div class="header">Top categories</div>
    <a libLink size="medium" routerLink="/categories">Show all</a>
  </div>
  <div class="top-categories grid">
    @for ( category of topCategoriesSignal(); track category.slug; let index = $index) {
    <app-category-card
      [categorySignal]="category"
      [isLoadingSignal]="loadingSignal()"
      class="category-box {{ categoryClasses(index) }}"></app-category-card>
    }
  </div>
</section>
<app-loader [isLoadingSignal]="loadingSignal()"></app-loader>
