@use "../../../../../../libs/src/lib/design-system/foundations/variables" as variables;
@use "../../../../../../libs/src/lib/design-system/foundations/mixins" as mixins;

.banner-container {
  max-width: 100dvw;
  height: 60dvh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.banner-header {
  max-width: 50%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: left;
  color: variables.$color-system-negative;
  padding: variables.$space-3 variables.$space-5;

  @include mixins.font(h1, mobile);

  @include mixins.breakpoint-up(variables.$bp-bp-desktop) {
    @include mixins.font(h1, desktop);
  }
}

.top-category-container {
  .header {
    @include mixins.font(title2, mobile);

    @include mixins.breakpoint-up(variables.$bp-bp-desktop) {
      @include mixins.font(title2, desktop);
    }
  }

  .top-category {
    margin: variables.$space-6 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-categories {
    margin-bottom: variables.$space-6;
    .category-box {
      height: 30dvh;
    }
  }
}
