@use "../../../../../../libs/src/lib/design-system/foundations" as core;

.banner-container {
  max-width: 100dvw;
  height: 60dvh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.banner-header {
  max-width: 50%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: left;
  color: core.$color-system-negative;
  padding: core.$space-3 core.$space-5;

  @include core.font(h1, mobile);

  @include core.breakpoint-up(core.$bp-bp-desktop) {
    @include core.font(h1, desktop);
  }
}

.top-category-container {
  .header {
    @include core.font(title2, mobile);

    @include core.breakpoint-up(core.$bp-bp-desktop) {
      @include core.font(title2, desktop);
    }
  }

  .top-category {
    margin: core.$space-6 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.category {
  width: 100%;
  height: 30vh;

  &-name {
    position: absolute;
    top: 10%;
    left: 5%;
    font-weight: core.$font-font-weight-bold;
    @include core.font(title2, mobile);

    @include core.breakpoint-up(core.$bp-bp-desktop) {
      @include core.font(title2, desktop);
    }
  }

  &-image {
    display: block;
    min-width: auto;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: core.$space-3;
  }
}
