@use "../../../../../../libs/src/lib/design-system/foundations" as core;

.banner-container {
  max-width: 100dvw;
  height: 60dvh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.banner-header {
  max-width: 50%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: left;
  color: core.$color-system-negative;
  padding: core.$space-3 core.$space-5;

  @include core.font(h1, mobile);

  @include core.breakpoint-up(core.$bp-bp-desktop) {
    @include core.font(h1, desktop);
  }
}

.top-category-container {
  .header {
    @include core.font(title2, mobile);

    @include core.breakpoint-up(core.$bp-bp-desktop) {
      @include core.font(title2, desktop);
    }
  }

  .top-category {
    margin: core.$space-6 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-categories {
    margin-bottom: core.$space-6;
    .category-box {
      height: 30dvh;
    }
  }
}
