@use "../../../../../../../libs/src/lib/design-system/foundations/variables" as variables;
@use "../../../../../../../libs/src/lib/design-system/foundations/mixins" as mixins;

.title {
  @include mixins.font(title2, desktop);
}
.product-image {
  height: 30dvh;
  width: 100%;
}

.product-description {
  @include mixins.font(body1, desktop);
}

.price-wrapper {
  padding: variables.$space-4;
  display: flex;
  flex-direction: column;
  gap: variables.$space-4;

  @include mixins.border(variables.$border-border-default);

  .price {
    color: #d00000; // TODO add to designs system
    @include mixins.font(price1, desktop);
  }

  &--mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: variables.$color-system-negative;
    z-index: 1000;
    box-shadow: variables.$shadow-shadow-strong;

    .price-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 64px;
    }

    &::before {
      box-shadow: none;
    }

    .price {
      color: #d00000; // TODO add to designs system
      @include mixins.font(price1, mobile);
    }
  }
}

.related-products-wrapper {
  .header {
    margin: variables.$space-4 0;
    @include mixins.font(title2, mobile);

    @include mixins.breakpoint-up(variables.$bp-bp-desktop) {
      @include mixins.font(title2, desktop);
    }
  }

  &--mobile {
    margin-bottom: 150px;
  }
}
