@use "../../../../../../../libs/src/lib/design-system/foundations" as core;

.title {
  @include core.font(title2, desktop);
}
.product-image {
  height: 30dvh;
  width: 100%;
}

.product-description {
  @include core.font(body1, desktop);
}

.price-wrapper {
  padding: core.$space-4;
  @include core.border(core.$border-border-default);

  .price {
    color: #d00000; // TODO add to designs system
    @include core.font(price1, desktop);
  }

  &--mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: core.$color-system-negative;
    z-index: 1000;
    box-shadow: core.$shadow-shadow-strong;

    .price-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 64px;
    }

    &::before {
      box-shadow: none;
    }

    .price {
      color: #d00000; // TODO add to designs system
      @include core.font(price1, mobile);
    }
  }
}

.related-products-wrapper {
  .header {
    margin: core.$space-4 0;
    @include core.font(title2, mobile);

    @include core.breakpoint-up(core.$bp-bp-desktop) {
      @include core.font(title2, desktop);
    }
  }

  &--mobile {
    margin-bottom: 150px;
  }
}
