<div class="lib-container">
  <div class="grid p-t-7">
    <h2 class="title col-m-4 col-d-12">{{ productDetailsSignal()?.name }}</h2>
    <img
      [src]="productDetailsSignal()?.image?.url"
      alt="{{ productDetailsSignal()?.image?.fileName }}"
      class="product-image col-m-2 col-d-4" />
    <div class="product-description col-m-2 col-d-4">
      <div>{{ productDetailsSignal()?.description }}</div>
    </div>
    <div class="price-wrapper col-m-2 col-d-4">
      <div class="price">{{ productDetailsSignal()?.price | currency : 'EUR' }}</div>
      <app-countdown-timer class="countdown-timer" />
      <lib-button size="large" class="buy-button">Buy now</lib-button>
    </div>
  </div>

  <section class="related-products-wrapper">
    <div class="header col-m-4 col-d-12">Related products</div>
    <div class="grid p-b-4">
      @for (product of relatedProductsSignal(); track product.slug; let index = $index) {
      <app-product-card
        [productSignal]="product"
        [categorySlug]="categorySlug()"
        [isLoadingSignal]="relatedProductsLoadingSignal()"
        class="product-card col-m-2 col-d-4" />
      }
    </div>
  </section>
</div>
