@use "../../../../../../../libs/src/lib/design-system/foundations/variables" as variables;
@use "../../../../../../../libs/src/lib/design-system/foundations/mixins" as mixins;

.product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: variables.$space-4;
  padding: variables.$space-4;
  align-items: center;

  &-name {
    font-weight: variables.$font-font-weight-bold;
    align-self: flex-start;

    @include mixins.font(body2, mobile);

    @include mixins.breakpoint-up(variables.$bp-bp-desktop) {
      @include mixins.font(body2, desktop);
    }
  }

  &-price {
    font-weight: variables.$font-font-weight-bold;
    align-self: flex-start;

    @include mixins.font(body2, mobile);

    @include mixins.breakpoint-up(variables.$bp-bp-desktop) {
      @include mixins.font(body2, desktop);
    }
  }

  &-image {
    display: block;
    min-width: auto;
    object-fit: contain;
    aspect-ratio: 1 / 1;
    width: 100%;
    max-height: 80%;
    border-radius: variables.$space-3;
  }

  &-button {
    width: 80%;
  }
}
