<!-- <lib-clickbox
[isLoading]="loadingSignal()"
class="category {{ categoryClasses(index) }}"
(click)="onCategorySelection(category.slug)">
<img src="{{ getCategoryBackgroundImage(category.slug) }}" [alt]="category.name" class="category-image" />
"
<div class="category-name">{{ category.name }}</div>
</lib-clickbox>
 -->

<lib-clickbox [isLoading]="isLoadingSignal()" class="category" (click)="onClick()">
  <img [src]="backgroundImageSignal()" [alt]="categorySignal()?.name" class="category-image" />
  <div class="category-name">{{ categorySignal()?.name }}</div>
</lib-clickbox>
