@use "../../../../../../../../libs/src/lib/design-system/foundations/variables" as foundation;
@use "../../../../../../../../libs/src/lib/design-system/foundations/mixins" as mixins;

.countdown-timer {
  text-align: center;
  padding: foundation.$space-5;
}

.timer-display {
  display: flex;
  justify-content: center;
  align-items: center;
  @include mixins.font(body1, desktop);
}

.time-box {
  background: foundation.$color-secondary-7;
  color: foundation.$color-system-negative;
  padding: foundation.$space-3 foundation.$space-4;
  margin: foundation.$space-2;
  display: inline-block;
  text-align: center;
  width: 64px;

  font-size: foundation.$font-font-size-7;
  box-shadow: foundation.$shadow-shadow-strong;
}

small {
  display: block;
  margin-top: foundation.$space-1;
  @include mixins.font(body2, desktop);
}

.separator {
  font-size: foundation.$font-font-size-7;
  color: foundation.$color-neutral-5;
}
